<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alla önskelistor</title>
    <link rel="stylesheet" type="text/css" href="/temp.css">
    <script src="/js.js"></script>
</head>
<body>

<heading>ÖNSKELISTOR:</heading>
<note th:each="list : ${lists}">
    <todo>o</todo>
    <a th:href="'/wishlist/' + ${currentPage} + '/' + ${list.id}" th:text="${list.name}">
    <text contenteditable="" th:text="${list.name}"></text></a>

</note>
<div>

        <span th:if="${showPrev}">
            <a th:href="'/?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

    <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/?page=' + ${page}" th:text="${page}"></a>
        </span>

    <span th:if="${showNext}">
            <a th:href="'/?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>
</div>
</body>
</html>