<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:text="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Detaljvy</title>
    <link rel="stylesheet" type="text/css" href="/temp.css">
    <script src="/js.js"></script>
</head>
<body>

<!-- adding test code--->
<heading>Adams lista:</heading>
<note th:each="list : ${customers}">
    <todo>o</todo>
    <text contenteditable="" th:text="${list.name}"></text>
</note>


<div>
    <p><a th:href="'/wishlists/?page=' + ${page}">Back to Önskelistor</a></p>
</div>
<div>
    <p><a th:href="'/edit/' + ${list?.id}">Edit list</a></p>
</div>
</body>
</html>